.Rhistory
.Rproj.user/
.snakemake/
using-metazoa-added/
using-metazoa-added-lessstringent/
data/
database/
metazoa/
metazoan-added-manually-refseqs/
processed-fqs-results/
reports/
using-metazoa-added/
multiple-amplicon_b2_data/
21-30_stacked_barplot_kraken.tiff
batch3-150x2rel_abund.xlsx                      
processed_fqs_kraken2_data/
batch3rel_abund.xlsx
multiple-amplicon_b2.html
output_each_sample_path
kraken_rel_abundance_without_unclassified.xlsx
raw_fqs_kraken2.html
custom_mitochondria_metazoa_db/
file
kraken2-method.Rproj
kraken_rel_abundance_genus.xlsx
processed_fqs_kraken2.html
code/KrakenTools/
code/krakenxtract/
code/Kraken2-output-manipulation-1.0/
database.tar.gz
